<!-- #profile -->
<section id="profile" class="layers page_current">

    <h2 style="display:none">profile</h2>

    <!-- .page_content -->
    <div class="page_content">

        <!-- .block-header -->
        <div class="block-header">
            <!-- .my_profile -->
            <div class="row no-marg my_profile">
                <!-- .info_profile -->
                <div class="col-xs-12 col-md-12 no-padd info_profile">
                    <!-- .bg_desc -->
                    <div class="clearfix">
                        <div class="inner-text">
                            <h2 id="profile-name">{{user.name}}</h2>
                            <small class="myjob" id="profile-tagline">{{user.tagline}}</small>
                            <div class="feature-desc" id="profile-desc">
                                <p>
                                    {{user.summary}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End .bg_desc -->
                </div>
                <!-- End .info_profile -->
            </div>
            <!-- End .my_profile -->
        </div>
        <!-- End .block-header -->
    </div>
    <!-- End .page_content -->
</section>
<!-- End #about -->
