<!-- #profile -->
<section id="profile" class="layers page_current">

    <h2 style="display:none">profile</h2>

    <!-- .page_content -->
    <div class="page_content">

        <!-- .block-header -->
        <div class="block-header">

            <!-- .my_profile -->
            <div class="row no-marg my_profile">

                <div class="col-xs-12 col-md-6 no-padd image_profile">
                    <!--<div class="overfly"></div>-->
                </div>

                <div class="col-xs-12 col-md-6 no-padd image_profile_resp">
                    <div class="home_profile_resp">
                        <img src="images/profile_img.jpg" alt="">
                    </div>
                </div>

                <!-- .info_profile -->
                <div class="col-xs-12 col-md-6 no-padd info_profile">

                    <!-- .bg_desc -->
                    <div class="bg_desc clearfix">
                        <div class="inner-text">
                            <h2>I am John Doe</h2>
                            <small class="myjob">web developer</small>

                            <div class="feature-desc" id="profile-desc">
                                <p>Lorem ipsum dolor sit amet duis. Arcu faucibus nisi eget arcu varius. Con libero in suspendisse ac aliquam. Laoreet lacinia purus. Sollicitudin eros sed. <br/> <br/> Egestas massa quam ea maecenas nonummy hymenaeos ligula maecenas ullamcorper convallis quis iaculis elit nec. Tortor vestibulum nunc. Eu pede vestibulum. Facilisis erat elementum eget dolor odio. Quis faucibus sed tempor nascetur arcu eget imperdiet sit vitae nulla maecenas. Consectetuer mauris felis ut nisl turpis. Vitae vehicula velit. Ut libero rhoncus pharetra a rhoncus. Interdum sunt elementum vivamus sit vivamus integer orci vestibulum. Urna sollicitudin dui sapien quis dui. Diam vestibulum at. Justo malesuada neque feugiat.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End .bg_desc -->



                </div>
                <!-- End .info_profile -->

            </div>
            <!-- End .my_profile -->

        </div>
        <!-- End .block-header -->

    </div>
    <!-- End .page_content -->

</section>
<!-- End #about -->
