<!--
    you can substitue the span of reauth email for a input with the email and
    include the remember me checkbox
    -->
    <div class="container">
        <div class="card card-container">
            <p id="profile-name" class="profile-name-card">Register</p>
            <form class="form-signin" action="/register" method="post">
                <span id="reauth-email" class="reauth-email"></span>
                <input name="username" type="text" id="inputEmail" class="form-control" placeholder="Username" required autofocus>
                <input name="password" type="password" id="inputPassword" class="form-control inputPassword" placeholder="Password" required>
                <input name="confirmPassword" type="password" id="inputConfirmPassword" class="form-control inputPassword" placeholder="Confirm Password" required>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Let's get started!</button>
            </form><!-- /form -->
        </div><!-- /card-container -->
    </div><!-- /container -->