<!-- #resume -->
<section id="resume" class="layers page_current">
    <h2 style="display:none">resume</h2>

    <!-- page_content -->
    <div class="page_content">

        <!-- .container-fluid -->
        <div class="container-fluid no-marg">

            <!-- .row -->
            <div class="row row_responsive">

                <!-- .section_general -->
                <div class="col-lg-11 section_general">

                    <header class="section-header">
                        <h3 class="section-title">Resume – Personal Info</h3>
                        <p>Awesome & Creative Resume For You</p>
                        <div class="border-divider"></div>
                    </header>

                    <div class="row section_separate">

                        <!-- .resume-left -->
                        <div class="col-md-12 resume-left">

                            <div class="title-section">
                                <h2 class="section_title">Experience</h2>
                                <div class="sep2"></div>
                            </div>

                            <!-- .attributes -->
                            <ul class="attributes">
                                <li class="first">
                                    <h5>Web Developer <span class="duration"><i class="fa fa-calendar color"></i> 2011 - 2013</span></h5>
                                    <h6><span class="fa fa-briefcase"></span> Name of Company</h6>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing Vivamus sit amet ligula non lectus cursus egestas. Cras erat lorem, fringilla quis sagittis in, sagittis inNam leo tortor Nam leo tortor Vivamus.</p>
                                </li>
                                <li>
                                    <h5>Front-End Developer <span class="duration"><i class="fa fa-calendar color"></i> 2010 - 2011</span></h5>
                                    <h6><span class="fa fa-briefcase"></span> Name of Company</h6>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing Vivamus sit amet ligula non lectus cursus egestas. Cras erat lorem, fringilla quis sagittis in, sagittis inNam leo tortor Nam leo tortor Vivamus.</p>
                                </li>

                            </ul>
                            <!-- /.attributes -->

                            <div class="title-section">
                                <h2 class="section_title">Education</h2>
                                <div class="sep2"></div>
                            </div>

                            <!-- .attributes -->
                            <ul class="attributes">
                                <li class="first">
                                    <h5>Master of Engineering <span class="duration"><i class="fa fa-calendar color"></i> 2011 - 2013</span></h5>
                                    <h6><span class="fa fa-book"></span> Name of University</h6>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing Vivamus sit amet ligula non lectus cursus egestas. Cras erat lorem, fringilla quis sagittis in, sagittis inNam leo tortor Nam leo tortor Vivamus.</p>
                                </li>
                                <li>
                                    <h5>Bachelor of Engineering <span class="duration"><i class="fa fa-calendar color"></i> 2010 - 2011</span></h5>
                                    <h6><span class="fa fa-book"></span> Name of University</h6>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing Vivamus sit amet ligula non lectus cursus egestas. Cras erat lorem, fringilla quis sagittis in, sagittis inNam leo tortor Nam leo tortor Vivamus.</p>
                                </li>
                            </ul>
                            <!-- /.attributes -->

                            <div class="title-section">
                                <h2 class="section_title">Awards</h2>
                                <div class="sep2"></div>
                            </div>

                            <!-- .attributes -->
                            <ul class="attributes">
                                <li class="first">
                                    <h5>Graphic &amp; Art Direction <span class="duration"><i class="fa fa-calendar color"></i> 2013 - 2014</span></h5>
                                    <h6><span class="fa fa-trophy"></span> Name of Institute</h6>
                                    <p>Emi Phasellus congue auctor risuspon, eget males. Pellentes que un imperdiet, odio quis orn sollicitud. Sed vitae lectus elementum mauris.</p>
                                </li>
                                <li>
                                    <h5>Design &amp; Art Direction <span class="duration"><i class="fa fa-calendar color"></i> 2012 - 2013</span></h5>
                                    <h6><span class="fa fa-trophy"></span> Name of Institute</h6>
                                    <p>Emi Phasellus congue auctor risuspon, eget males. Pellentes que un imperdiet, odio quis orn sollicitud. Sed vitae lectus elementum mauris.</p>
                                </li>

                            </ul>
                            <!-- /.attributes -->

                            <!-- .title_content -->
                            <div class="title-section">
                                <h2 class="section_title">Download my resume</h2>
                                <div class="sep2"></div>
                            </div>
                            <!-- /.title_content -->

                            <!-- .download_resume -->
                            <a class="download" href="#">
                                <span data-hover="Download My Resume"><i class="fa fa-cloud-download"></i> Download My Resume</span>
                            </a>
                            <!-- /.download_resume -->

                        </div>
                        <!-- /.resume-left -->


                    </div>
                    <!-- /.end row -->



                </div>
                <!-- End .section_general -->


            </div>
            <!-- End .row -->

        </div>
        <!-- End .container-fluid -->



    </div>
    <!-- End page_content -->

</section>
<!-- End #resume -->
