<nav class="navigation">
    <ul class="list-unstyled">
        <li class="profile active">
            <a class="profile link_menu"><i class="fa fa-user icon_menus"></i><span class="nav-label">profile</span></a>
        </li>
        <li class="resume">
            <a class="resume link_menu"><i class="fa fa-tasks icon_menus"></i> <span class="nav-label">resume</span></a>
        </li>
        <li class="contact">
            <a class="contact link_menu"><i class="fa fa-paper-plane icon_menus"></i> <span class="nav-label">contact</span></a>
        </li>

    </ul>
</nav>
