<section id="profile" class="layers page_current">

    <h2 style="display:none">profile</h2>

    <!-- .page_content -->
    <div class="page_content">

        <!-- .block-header -->
        <div class="block-header">

            <!-- .my_profile -->
            <div class="row no-marg my_profile">

                <div class="col-xs-12 col-md-6 no-padd image_profile">
                    <!--<div class="overfly"></div>-->
                </div>

                <div class="col-xs-12 col-md-6 no-padd image_profile_resp">
                    <div class="home_profile_resp">
                        <img src="images/profile_img.jpg" alt="">
                    </div>
                </div>

                <!-- .info_profile -->
                <div class="col-xs-12 col-md-6 no-padd info_profile" style="height:100vh;">

                    <!-- .bg_desc -->
                    <div class="bg_desc clearfix" style="height:100vh;">
                        <div class="inner-text">
                            <h2>I am John Doe</h2>
                            <small class="myjob">web developer</small>

                            <div class="feature-desc">
                                <p>My money’s in that office, right? If she start giving me some bullshit about it ain’t there, and we got to go someplace else and get it, I’m gonna shoot you in the head then and there. Then I’m gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too.</p>
                                <p>Quickly pursue revolutionary relationships before scalable technologies. Proactively pontificate out-of-the-box alignments with equity invested results.</p>
                                <p>Aliquam lobortis nec nibh a blandit. Quisque ultricies pharetra hendrerit. Nunc fringilla sapien eget viverra mollis.</p>
                            </div>

                        </div>
                    </div>
                    <!-- End .bg_desc -->

                </div>
                <!-- End .info_profile -->

            </div>
            <!-- End .my_profile -->

        </div>
        <!-- End .block-header -->

    </div>
    <!-- End .page_content -->

</section>
